[base]
text               = {{base05-hex}}
subtext            = {{base05-hex}}
main               = {{base00-hex}}
main-elevated      = {{base02-hex}}
highlight          = {{base02-hex}}
highlight-elevated = {{base03-hex}}
sidebar            = {{base01-hex}}
player             = {{base05-hex}}
card               = {{base04-hex}}
shadow             = {{base00-hex}}
selected-row       = {{base05-hex}}
button             = {{base05-hex}}
button-active      = {{base05-hex}}
button-disabled    = {{base04-hex}}
tab-active         = {{base02-hex}}
notification       = {{base02-hex}}
notification-error = {{base08-hex}}
equalizer          = {{base0B-hex}}
misc               = {{base02-hex}}
